.background {
  background-color: #c3acd0;
  height: 100vh;
}
.outer-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name-email {
  display: flex;
}

.input-two {
  font-family: Verdana, sans-serif;
  padding: 1rem 2rem;
  width: -webkit-fill-available;
  margin: 1rem;
  border: none;
  border-radius: 6px;
}

button {
  margin: 1rem;
  font-size: 1rem;
  float: right;
  background-color: #645cbb;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  width: 20%;
  cursor: pointer;
}

button:hover {
  background-color: #413c78;
}

.error {
  display: flex;
  margin-left: 1rem;
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    margin: 2rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .full-name-email {
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    align-items: inherit;
  }
}
