.form-outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
  height: 100vh;
  width: 50vw;
}
.form-inner-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}

.full-name-email-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-name,
.input-email {
  width: 50%;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #fefefe;
  background-color: #c3acd0;
  outline: none;
}

.input-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  height: 30vh;
  border: none;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  background-color: #c3acd0;
  outline: none;
}

.input-message::placeholder {
  position: absolute;
}

button {
  font-family: Verdana, sans-serif;
  color: #fefefe;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  width: fit-content;
  border: none;
  background-color: #c3acd0;
  float: right;
}

.background {
  display: flex;
  background-color: #c3acd0;
  height: 80vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem #c3acd0 inset;
}
