.page {
  overflow: scroll;
}

.background {
  display: flex;
  background-color: #c3acd0;
}

.wrapper-videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px #000 solid;
  height: 10vh;
  width: 20vw;
}
