.background {
  display: flex;
  background-color: #c3acd0;
  height: 80vh;
  overflow: scroll;
}

.outer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  width: 100%;
  font-family: Verdana, sans-serif;
  color: #fffbf5;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pang-moua {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 3.5rem;
  font-weight: 100;
}

.services {
  font-size: 1rem;
  font-weight: 100;
}
.learn-more {
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #fffbf5;
}
