.video-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.video {
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: auto;
}
