.footer-wrapper {
  background-color: #674188;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}
.logo-header {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
  padding: 1rem;
}

.name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color: #fefefe;
  font-family: Verdana, sans-serif;
}

.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  color: #f7efe5;
}

.services-terms-wrapper,
.quick-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-header,
.links {
  padding: 0.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: #fefefe;
}

.links-header {
  text-transform: uppercase;
  color: #f7efe5;
}

.links:visited {
  color: #fefefe;
}
